body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

noscript {
  display: block;
  padding: 1rem;
  color: #fff;
  background: #111;
  text-align: center;
}
